@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: #ffde25;
  text-shadow: none;
  color: #000;
  padding: 5px;
}
body {
  font-family: "Press Start 2P", monospace;
  color: #fff;
  overflow-x: hidden;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(25, 0, 42) 33%,
    rgb(36, 0, 62) 67%,
    rgb(0, 0, 0) 120%
  );
}

#root {
  min-height: 100vh;
}
